<%- include('../partials/header') %>
<%- include('../partials/menu') %>
	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Fall 2018 Stats</h1>
		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>
		</div>
		
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th class="align-bottom" rowspan="2">Game Date</th>
				<th class="align-bottom"rowspan="2">Opposing Team Name</th>
				<th class="text-center" colspan="2">Score</th>
				<th class="align-bottom" rowspan="2">Winner</th>
			</tr>
			<tr>
				<th>Home Score</th>
				<th>Opp. Score</th>
			</tr>
			<% if (game_data) {
				var table_row = '';
				game_data.forEach(game => {
					var game_date = game.game_date.toLocaleDateString("en-US", {
						year: 'numeric',
						month: 'long',
						day: 'numeric'
					});
					var game_victor = 'CU Boulder'
					if (game.home_score > game.visitor_score) game_victor = game.visitor_name;

					table_row += '<tr>';
						table_row += '<td>' + game_date + '</td>'
						table_row += '<td>' + game.visitor_name + '</td>'
						table_row += '<td>' + game.home_score + '</td>'
						table_row += '<td>' + game.visitor_score + '</td>'
						table_row += '<td>' + game_victor + '</td>'
					table_row += '</tr>';
				}); %>
				<%- table_row %>
			<% } %>
			
		</table>
		<br>
		<table class="table text-center">
			<tr>
				<th>Wins</th>
				<th>Losses</th>
			</tr>
			<tr>
				<td> <%- wins %> </td>
				<td> <%- loss %> </td>
			</tr>
		</table>
		
	</div>
<%- include('../partials/footer') %>
